@import "@/components/user-form/user-form.scss";
@import "@/components/users-list/users-list.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  .user-form {
    margin-right: 15px;
  }
  justify-content: center;
}

body {
  background-color: #88dbba;
}
